html {
    min-height: 100%;
    min-width: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: linear-gradient(30deg, rgb(101, 21, 1) 5%, rgb(248, 83, 0) 77%, rgb(255, 251, 219) 80%, rgb(52, 3, 130) 83%);
}

/* Логотип */
.logo {
    font: bold 43px Comic Sans MS, Comic Sans, cursive;
    color: #ff630d;
    letter-spacing: 2px;
    position: absolute;
    top: 20px;
    right: 25px;
}
.logo p {
    margin: 0;
    padding: 0;
}

/* Навигатор */
.navbar {
    position: fixed;
    top: 33%;
}
.navbar ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.navbar ol li {
    list-style-type: none;
    margin-bottom: 44px;
    padding: 0;
}
.navbar a {
    font: normal 20px Tahoma;
    list-style: none;
    border-radius: 0px 30px 5px 0px;
    margin: 2px auto;
    padding: 15px;
    color: azure;
    background-color: rgb(52, 3, 130);
    font-size: 17px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all .2s; 
}
.navbar a:hover {
    color: darkorange;
    font-size: 20px;
    cursor: context-menu;
}

/* начинка */
.container {
    max-width: 50%;
    margin-top: 5px;
    margin-left: 20%;
    font: normal 20px Verdana
}
h1, h3 {
    color: azure;
}
.hidden {
    display: none;
}

/* Фотка */
.MyPhoto {
    margin-top: 13px;
    border-radius: 25%;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.MyPhoto:hover {
    border-radius: 50%;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.MyInfo {
    margin-bottom: 20px;
    display: flex;
}

.info {
    border-bottom: 3px solid rgb(52, 3, 130);
    margin-bottom: 13px;
    width: 125px;
}

/* Таблица */
.table {
    font: bold 14px Tahoma, sans-serif;
    background: azure;
    max-width: 80%;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}
th {
    font-weight: normal;
    font-style: italic;
    color: rgb(52, 3, 130);
    border-bottom: 2px solid rgb(52, 3, 130);
    padding: 10px 8px;
}
td {
    color: rgb(52, 3, 130);
    padding: 9px 8px;
    transition: .3s linear;
}
td:hover {
    background: #ccc;
}
.first {
    margin-bottom: 25px;
}

/* Кнопка */
.btn {
    display: block;
    margin: 20px 0px;
    border: none;
    border-radius: 10px;
    padding: 30px 39px;
    color: azure;
    background-color: rgb(52, 3, 130);
    font: bold 24px Verdana;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    transition: all .2s;
}
.btn:hover {
    color: darkorange;
    font-size: 26px;
}

/* Сосети */
.Messangers {
    margin-left: 40px;
}
.Messangers a {  
    border-radius: 10px;
    padding: 10px;
    color: azure;
    background-color: rgb(52, 3, 130);
    font-size: 17px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all .2s;
}
.Messangers a:hover {
    color: darkorange;
    font-size: 18px;
}
.Messangers a:active {
    color: darkorchid;
}

/* Поле отзыва */
label {
    font: bold 24px Verdana;
    color: azure;
}
textarea {
    font: bold 14px Tahoma;
    color: rgb(52, 3, 130);
    background: azure;
    border-radius: 5px;
}

/* Поле статуса */
input {
    font: bold 14px Tahoma, sans-serif;
    background: azure;
    border-radius: 5px;
    margin-bottom: 5px;
    max-width: 50%;
    width: 50%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
ul li {
    list-style-type: none;
    padding: 0;
}
.str {
    background: azure;
    border-radius: 10px;
    padding: 15px 0px 20px 0px;
    max-width: 80%;
    width: 80%;
}
.currentStatus {
    font: bold 20px Tahoma, sans-serif;
    color: rgb(52, 3, 130);
    margin-left: 15px;
}
.btn-cancel {
    border-radius: 10px;
    padding: 10px;
    float: right;
    margin-right: 10px;
    color: azure;
    background-color: red;
    font-size: 17px;
    text-decoration: none;
    transition: all .2s; 
}
.btn-cancel:hover {
    color: darkorange;
    font-size: 18px;
    cursor: context-menu;
}

/* Адаптация под разрешение */
@media (max-width: 1175px) {
    .container {
        margin-left: 25%;
    }
    .MyInfo {
        margin-bottom: 0px;
        display: block;
        text-align: center;
    }
    .Messangers {
        margin-left: 0px;
    }
    .btn {
        margin: 20px auto;
    }
    .table {
        max-width: 100%;
        width: 100%;
    }
    textarea {
        max-width: 100%;
        width: 100%;
    }
    input {
        max-width: 60%;
        width: 60%;
    }
    .str {
        max-width: 100%;
        width: 100%;
    }
    body {
        background-image: linear-gradient(30deg, rgb(101, 21, 1) 5%, rgb(248, 83, 0) 87%, rgb(255, 251, 219) 88%, rgb(52, 3, 130) 89%);
    }
    .logo {
        font: bold 27px Comic Sans MS, Comic Sans, cursive;
        color: #ff630d;
        letter-spacing: 2px;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: 90%;
        margin-top: 45px;
        margin-left: 5%;
        font: normal 20px Verdana
    }
    .logo {
        font: bold 15px Comic Sans MS, Comic Sans, cursive;
        color: #ff630d;
        letter-spacing: 2px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    body {
        background-image: linear-gradient(30deg, rgb(101, 21, 1) 5%, rgb(248, 83, 0) 91%, rgb(255, 251, 219) 92%, rgb(52, 3, 130) 93%);
    }
    .navbar {
        position: absolute;
        top: 0%;
    }
    .navbar ol {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    .navbar ol li {
        list-style-type: none;
        padding: 0;
        float: left;
    }
    .navbar a {
        font: normal 14px Tahoma;
        list-style: none;
        border-radius: 0px 0px 10px 10px;
        margin: 0px 3px;
        padding: 9px;
        display: block;
        text-align: center;
    }
}
